@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Arrows:wght@400..700&family=Jersey+15&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.heading{
    text-align: center;
    font-size: 8em;
    color: #fff;
    padding: 11px 19px;
    margin: 0 aut;
    animation: animate 3s linear infinite;
    text-shadow: 0 0 50px #0072ff, 
                 0 0 100px #0072ff, 
                 0 0 150px #0072ff,
                 0 0 200px #0072ff;
    font-family: 'Jersey 15', sans-serif;
}


@keyframes animate {
    from {
      filter: hue-rotate(0deg);
    }
    to {
      filter: hue-rotate(360deg);
    }
  }
  
.texthead{
    margin-top: 50px;
    font-size: 4em;
    text-align: center;
    color: #fff;
}
.text{
    text-align: center;
    color: #fff;
    margin-top: 20px;
}
.form-container{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.form{
    width: 80%;
    border: 2px solid #fff;
    border-radius: 29px;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.238);
}