@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Arrows:wght@400..700&family=Jersey+15&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.heading{
    text-align: center;
    font-size: 8em;
    color: #fff;
    padding: 11px 19px;
    margin: 0 auto;
    margin-bottom: 210px;
    font-family: 'Jersey 15', sans-serif;
}

.texthead{
    margin-top: 50px;
    font-size: 5em;
    text-align: center;
    color: #fff;
}
.text{
    text-align: center;
    color: #fff;
    margin-top: 20px;
}
.form-heading{
    text-align: center;
    font-size: 3em;
    color: #fc6601;
    margin-bottom: 35px;
}
.form-container{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.form{
    width: 80%;
    border: 2px solid #fff;
    border-radius: 29px;
    padding: 30px;
    background-color: rgba(236, 226, 226, 0.205);
}

input[type="text"], input[type="email"], input[type="password"],input[type="tel"]{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 29px;
    border: 2px solid #4917ae;
    outline: none;
    font-size: 1.2em;
    background-color: rgba(21, 22, 23, 0.397);
    color: #fff;
}
.label-name{
    color: #b1aebb;
    font-size: 20px;
    text-shadow: 1px 1px 5px #000000bd;
}

input[type="submit"]{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 29px;
    border: 2px solid #a095af;
    outline: none;
    font-size: 1.2em;
    background-color: #a095af;
    color: #fff;
    cursor: pointer;
}

.member-container{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    
}


.car-type{
    color: #fff;
    font-size: 20px;
}
.question{
    margin-top: 10px;
}
.radio{
    margin: 10px 0;
    font-size: 30px;
    font-weight: 500;
    gap: 20px;
}
.radio input[type="radio"]{
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.text-area{
    color: whitesmoke;
    text-shadow: 1px 1px 5px #5f22d9;
}
input[type="submit"]:hover{
    box-shadow: 5px 5px 5px #5007e2;
    cursor: pointer;
    transform: scale(1.01);
}

.robo-text{
    z-index:0;
    position: absolute;
    left: 500px;
}
.maze-text{
    z-index: 3;
    position: absolute;
    top: 95px;
    left:670px;
}

input[type="submit"]:hover{
    box-shadow: 5px 5px 5px #5007e2;
    cursor: pointer;
    transform: scale(1.01);
}
.car_no{
    color: #fff;
    font-size: 20px;

}