@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Arrows:wght@400..700&family=Jersey+15&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.heading{
    text-align: center;
    font-size: 8em;
    color: #fff;
    padding: 11px 19px;
    margin: 0 aut;
    animation: animate 3s linear infinite;
    text-shadow: 0 0 50px #0072ff, 
                 0 0 100px #0072ff, 
                 0 0 150px #0072ff,
                 0 0 200px #0072ff;
    font-family: 'Jersey 15', sans-serif;
}


@keyframes animate {
    from {
      filter: hue-rotate(0deg);
    }
    to {
      filter: hue-rotate(360deg);
    }
  }

.texthead{
    margin-top: 50px;
    font-size: 5em;
    text-align: center;
    color: #fff;
}
.text{
    text-align: center;
    color: #fff;
    margin-top: 20px;
}
.form-heading{
    text-align: center;
    font-size: 3em;
    color: #fff;
    margin-bottom: 35px;
}
.form-container{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.form{
    width: 80%;
    border: 2px solid #fff;
    border-radius: 29px;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.238);
}

input[type="text"], input[type="email"], input[type="password"],input[type="tel"]{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 29px;
    border: 2px solid #4917ae;
    outline: none;
    font-size: 1.2em;
    background-color: rgba(21, 22, 23, 0.397);
    color: #fff;
}
.label-name{
    color: #00ddff;
    text-shadow: 1px 1px 5px #000000bd;
}

input[type="submit"]{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 29px;
    border: 2px solid #0072ff;
    outline: none;
    font-size: 1.2em;
    background-color: #0072ff;
    color: #fff;
    cursor: pointer;
}

.member-container{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    
}
.class2{
    border-left: 2px solid #fff;
    border-right: 2px solid #fff;
    padding: 0 28px 0 30px;
}



.question{
    margin-top: 10px;
}
.radio{
    margin: 10px 0;
    font-size: larger;
    font-weight: 500;
}
